version: "3.9"
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: library
      POSTGRES_PASSWORD: librarypass
      POSTGRES_DB: librarydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    volumes:
      - ./backend:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - backend/.env

volumes:
  postgres_data:
